.sidebar {
  margin: 0;
  padding: 0;
  background-color: black;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;

  &__profile {
    margin: 20px 0;
  }

  &__image {
    width: 90px;
    height: 90px;
    display: block;
    margin: auto;
    border-radius: 50%;
    object-fit: cover;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    color: white;
    transition: ease-in-out .4s;

    &:hover {
      background-color: #121212;
      color: white;
    }
  }
}